<div>
  <div class="span6">
      <div class="pull-out m-t-small">
      <table class="table table-striped">
         <thead>
         <tr>
            <th width="100">Name</th>
            <th>Address</th>
         </tr>
         </thead>
         <tbody>
         <tr ng-repeat="client in clients">
            <td>{{client.name}}</td>
            <td>{{client.address}}</td>
         </tr>
         </tbody>
        </tr>
      </table>
      </div>
  </div>
  <div class="span3">class="panel" </div>
</div>
